body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
background-image:  -webkit-repeating-radial-gradient(bLUE, black);
margin: 0 auto ;
}
h1 {
  text-align: center;
  margin-top: 25px;
  padding-bottom: 8px;
  color: white;
}

h2{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 10px;
  color: white; 
}

p {
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  flex-wrap: wrap;
  color: aliceblue;
}
/*Main Content i.e. Where the password is being generated*/
.wrapper {
  justify-content: center;
  width:50%;
  height: 50% ;
  margin-top: 15px;
  border: 5px solid white;
  background-color: rgb(0, 75, 128);

}

.inner-container {
border: 2px dotted  whitesmoke ;
}
/*the styles for the button rows*/

.button-row {
  width: 100%;

}

.button-container {
text-align: center;
border-top: .5px solid black ;
padding: 1.5px 0px 5px 0px; 

}

.btn {
  margin-top: 10px;

}